ul.menu {
  min-height: 20px;
  margin: 0;
  padding: 1px;
  list-style-type: none;
  li {
    float: left;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 2px 5px 3px;
    color: #999;
    &:first-of-type, &:first-of-type {
      padding-left: 8px;
    }

    &.right {
      float: right;
    }

    &.active {
      background-color: #9ac;
      color: #000;
      a {
        color: #059;
      }
    }

    a, span {
      color: #00c;
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid transparent;
    }

    a:hover, span:hover {
      border-bottom: 1px dotted #00c;
      cursor:pointer;
    }

    span.disabled {
      color:inherit;
      cursor:text;
      border-bottom: none;
      &:hover {
        border-bottom:inherit;
      }
    }

    a.disabled {
      color:inherit;
      cursor:text;
      &:hover {
        border-bottom:inherit;
      }
    }

    i.fa, div.menu i.fa {
      margin-right:4px;
    }
  }

  &.breadcrumbs {
    float: left;
    padding: 0;

  }
}

.breadcrumbs-leader {
  float: left;
  padding-top: 6px;
  padding-left: 16px;
  li > a, li > span {
    margin-right: .75rem;
  }
}

div.context-menu-box {
  border-bottom: none;
  font-size: .9em;
  line-height: 1.4em;
  overflow: hidden;
}
